<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel='stylesheet' href='/css/nav2.css'>
    <link rel='stylesheet' href='/css/discountInfo.css'>
    <link rel='stylesheet' href='/css/footer.css'>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <title>Discount Info</title>
</head>
<body>
    <div id='navigation'></div>
    <div id='content'></div>
    <div id='foot'></div>
    <script src='/scripts/build/nav.js'></script>
    <script src='/scripts/build/footer.js'></script>
    <script src="/scripts/build/discountInfo.js"></script>
</body>
</html>