<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/css/signUp.css'>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;900&display=swap" rel="stylesheet">
    <title>Create Account</title>
</head>
<body>

    {{#if message}}
        <!-- Display the message -->
        <p id='msg'>{{message}}</p>
    {{/if}}

    <div id='content'></div>
    <script src="/scripts/build/signup.js"></script>
</body>
</html>