#header-image{
    width:100vw;
    height:25vw;
    background-size:cover;
    background-position:-10% 40%;
}
#header-image > h2{
    color:white;
    position:relative;
    margin:0;
    top:17vw;
    left:5vw;
    font-family:'Roboto','sans-serif';
    font-size:0.8vw;
    font-weight:lighter;
}
#header-image > img{
    position:relative;
    width:3vw;
    height:5vw;
    top:10vw;
}
#forward-arrow{
    left:93vw;
}
#back-arrow{
    left:0vw;
}
#content{
    width:100vw;
    height:145vw !important;
}
#content-page{
    width:100vw;
    height:60vw;
}
#content-page > .admissions-header, #content-page > div > .admissions-header{
    transform:none !important;
    font-size:2vw !important;
    margin:1vw 20vw;
    margin-top:2vw;
}
#content-page > div#racf-box > .admissions-header{
    color:white;
    margin-left:12vw;
    padding-top:3vw;
}

#content-page > h1.admissions-header{
    margin-top:4vw;
}
#content-page > p{
    font-size:1vw;
    font-family:'Roboto','sans-serif';
    line-height:2vw;
    margin-left:20vw;
    margin-right:20vw;
    margin-bottom:5vw;
}
#racf-box{
    background-color:#0099B5;
    height:13vw;
}

#racf-box > .admissions-header{
    padding-top:2vw;
}
.blue-box{
    background-color:#005BBF;
    width:23vw;
    height:4vw;
    display:block;
    float:left;
    margin-left:2vw;
}
.blue-box > p{
    padding:0.5vw 1vw;
    text-align:center;
    color:white;
    font-size:1vw;
    font-family:'Roboto','sans-serif';
}
#head-contain{
    width:80vw;
    height:5vw;
    margin:0 10vw;
}

#venue-contain > p, #event-contain > p{
    font-size:1vw;
    font-family:'Roboto','sans-serif';
    line-height:2vw;
    margin-left:20vw;
    margin-right:40vw;
}

.container{
    width:28vw !important;
}
#venue-container{
    height:24vw !important;
    margin:0 18vw !important;
}

#venue-contain > h1.admissions-header{
    margin-top:6.5vw;
}

button#see-more{
    margin:1vw 33.5vw;
    width:12vw;
    height:2.5vw;
    font-size:0.8vw;
}
#e-contain{
    width:61vw;
    height:23vw;
    margin:0 18vw;

}
button#see-more-events{
    margin:1vw 34vw;
    width:12vw;
    height:2.5vw;
    font-size:0.8vw;
}

.date{
    color:#1E8AFD !important;
    margin-top:0.3vw !important;
    height:1vw !important;
}

.date > h5 {
    width:50% !important;
    font-weight:500 !important;
    float:left !important;
    margin:0 !important;
}

.date > h5:nth-child(2){
    text-align:right !important;
}