body{
    background-image:url('/images/rochester.png');
    background-size:cover;
    font-family:'Roboto','sans-serif';
}

#grey-box{
    width:60vw;
    height:20vw;
    background-color: rgba(0,0,0,0.6);
    border:1px solid black;

    position: absolute;
	top:15vw;
    left:20vw;
}

.header{
    font-size:1.8vw;
    font-weight:100;
}

#back-header{
    color:white;
    margin: 3vw 0 0 3vw;
    width:14vw;
}

.description{
    font-size:1vw;
    color:white;
    margin-left:3vw;
    font-weight:300;
}

.second-button{
    background-color: rgba(0,0,0,0.2);
    width:8vw;
    height:2.5vw;
    border:1px solid white;
    color:white;
    border-radius:5px;
    font-family:'Roboto','sans-serif';
    margin-left:3vw;
    margin-top:1vw;
    font-size:1.2vw;
}

#white-box{
    background-color:#F2F2F2;
    border:1px solid black;
    position:relative;
    width:32vw;
    height:24vw;
    top:-16vw;
    left:25vw;
}

#white-box2{
    background-color:#F2F2F2;
    border:1px solid black;
    position:relative;
    width:32vw;
    height:35vw;
    top:-16vw;
    left:25vw;
}

#front-header{
    font-weight:300;
    color:black;
    margin: 3vw 0 2vw 4vw;
}

.label{
    font-size:0.6vw;
    margin:0;
    margin-left:6vw;
    margin-top:1vw;
}


.input-el{
    background:none;
    border:none;
    border-bottom:1px solid black;
    margin-left:6vw;
    width:18vw;
    font-size:0.8vw;
    height:1.5vw;
}

#btn-login{
    margin-left:10vw;
    margin-top:1vw;
    width:10vw;
    font-size:1vw;
    border:1px solid #17A2B8;
    border-radius:1vw;
    color:#17A2B8;
    height:2vw;
    font-family:'Roboto','sans-serif';
    font-weight:300;
}

.img-login{
    position:relative;
    left:-1.5vw;
    width:1vw;
    height:1vw;
}
.cbox{
    margin-top:1vw;
    margin-left:6vw;
}
label{
    font-size:0.7vw;
}

#msg{
    background-color:white;
    border:1px solid black;
    padding:1vw;
    width:30vw;
    margin:auto;
    text-align:center;
}

#back-button{
    width:5vw;
    height:5vw;
    background-size:contain;
    position:absolute;
    top: 13vw;
    left: 18vw;
    background-color:white;
    border-radius:3vw;
}